@import url("https://fonts.cdnfonts.com/css/poppins");
.sidebar_main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 5vw;
  height: 100vh;
  flex-direction: column;
  font-size: 0.7rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7333333333);
  padding: 1rem;
  margin: 0;
}

.custom_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 7vh;
  width: 6vw;
  padding: 1rem 0;
  cursor: pointer;
  color: white;
}
.custom_link:hover {
  background-color: rgba(33, 32, 32, 0.621);
}
.custom_link:hover .sidebar_icon {
  height: 2.5vw;
  width: 2.5vw;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.from-box h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 20px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: transalteY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: black;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  top: 40%;
  right: 8px;
  font-size: 0.5em;
  color: black;
  line-height: 10px;
  margin: 0;
}

#input-box-password {
  margin-bottom: 10px;
}

#input-box-confirm {
  margin-bottom: 10px;
}

.errorNotif {
  font-weight: bold;
  position: relative;
  width: 100%;
  color: #f70000;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 30px;
}

.remember-forgot {
  font-size: 0.9em;
  color: black;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: black;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.dm-container {
  width: 100vw;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1a1d21;
}

.chat-header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background: #1a1d21;
  border-bottom: 1px solid white;
}

.chat-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  cursor: pointer;
}

.pp {
  width: clamp(2rem, 1.714rem + 1.429vw, 3rem);
  border-radius: 0.5rem;
  margin: 0.4rem 1rem;
}

.chat-name {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0 0 0;
}

.chat-name h2 {
  color: white;
  font-size: clamp(0.8rem, 0.743rem + 0.286vw, 1rem);
  margin: 0;
}

.chat-name span {
  color: white;
  font-size: clamp(0.5rem, 0.443rem + 0.286vw, 0.7rem);
}

.chat-box {
  flex: 1;
}

.chat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  background: #222529;
  border: 1px solid #ffffff;
  width: 95vw;
  margin: 1rem auto;
}

.chat-footer textarea {
  background: #222529;
  width: 90vw;
  min-height: 10vh;
  outline: none;
  border: none;
  resize: none;
  font-size: clamp(0.8rem, 0.743rem + 0.286vw, 1rem);
  margin: 1rem;
  color: white;
}

.chat-footer .shortcut-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #adaeaf;
  width: 90vw;
  margin: 0.5rem;
}

.chat-footer .attachment-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(5rem, 4.286rem + 1.905vw, 6rem);
}

.chat-footer .send-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-footer .icons {
  width: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  height: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
}

.dmSidebar-container {
  width: clamp(9rem, 3.571rem + 27.143vw, 28rem);
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #131416;
}

.dmSidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.dmSidebar-header h2 {
  color: white;
  font-size: clamp(0.5rem, 0.214rem + 1.429vw, 1.5rem);
  margin-left: 1rem;
}

.dmSidebar-header .icons {
  color: white;
  width: clamp(0.8rem, 0.671rem + 0.643vw, 1.25rem);
  height: clamp(0.8rem, 0.671rem + 0.643vw, 1.25rem);
  margin-right: 1rem;
}

.dm-search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem) 0;
}

.dm-searchBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.728);
  border: 1px solid #6f7372;
  border-radius: 0.5rem;
  width: clamp(7rem, 1.571rem + 27.143vw, 26rem);
  height: clamp(1rem, 0.714rem + 1.429vw, 2rem);
}

.dm-searchBar .icons {
  width: clamp(0.6rem, 0.414rem + 0.929vw, 1.25rem);
}

#search-dm {
  font-size: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  width: clamp(5.5rem, 0.5rem + 25vw, 23rem);
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.728);
  background: transparent;
}

.dms-list-container {
  height: 100%;
}

.dms-list {
  display: flex;
  align-items: center;
  color: white;
  padding: clamp(0.25rem, 0.036rem + 1.071vw, 1rem) 0;
  background-color: #424243;
}

.dm-pp {
  width: clamp(1rem, 0.571rem + 2.143vw, 2.5rem);
  border-radius: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
  margin: 0 0.5rem 0 1rem;
}

.dms-list .right {
  display: flex;
  flex-direction: column;
  color: white;
  width: 30vw;
}

.dm-chat-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(5.5rem, 0.5rem + 25vw, 23rem);
}

.dm-chat-name h5 {
  font-size: clamp(0.25rem, 0.064rem + 0.929vw, 0.9rem);
  margin: 0;
}

.dm-chat-name span {
  font-size: clamp(0.2rem, 0.029rem + 0.857vw, 0.8rem);
}

.dm-truncate {
  display: block;
  font-size: clamp(0.2rem, 0.029rem + 0.857vw, 0.8rem);
  width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=App.css.map */