.dm-container{
    width: 100vw;
}

.chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #1a1d21;

}

.chat-header{
    display: flex;
    width: 100vw;
    height: 10vh;
    background: #1a1d21;
    border-bottom: 1px solid white;
}

.chat-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
    cursor: pointer;
}

.pp{
    width: clamp(2rem, 1.714rem + 1.429vw, 3rem);
    border-radius: .5rem;
    margin: .4rem 1rem;
}

.chat-name{
    display: flex;
    flex-direction: column;
    margin: .6rem 0 0 0;
}

.chat-name h2{
    color: white;
    font-size: clamp(0.8rem, 0.743rem + 0.286vw, 1rem);
    margin: 0;
}

.chat-name span{
    color: white;
    font-size: clamp(0.5rem, 0.443rem + 0.286vw, 0.7rem);
}

.chat-box{
    flex: 1;
}

.chat-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .5rem;
    background: #222529;
    border: 1px solid #ffffff;
    width: 95vw;
    margin: 1rem auto;
}

.chat-footer textarea{
    background: #222529;
    width: 90vw;
    min-height: 10vh;
    outline: none;
    border: none;
    resize: none;
    font-size: clamp(0.8rem, 0.743rem + 0.286vw, 1rem);
    margin: 1rem;
    color: white;
}

.chat-footer .shortcut-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #adaeaf;
    width: 90vw;
    margin: .5rem;
}

.chat-footer .attachment-icons{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: clamp(5rem, 4.286rem + 1.905vw, 6rem);
}

.chat-footer .send-icon{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.chat-footer .icons{
    width: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
    height: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
}
