.sidebar-container{
    width: 5vw;
}

.sidebar_main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
    font-size: 0.7rem;
    text-align: center;
    background-color: #000000bb;
    padding: 1rem;
    margin: 0;
}

.custom_link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 7vh;
    width: 6vw;
    padding: 1rem 0;
    cursor: pointer;
    color: white;
    &:hover{
        background-color: rgba(33, 32, 32, 0.621);
        .sidebar_icon{
            height: 2.5vw;
            width: 2.5vw;
        }
    }
}


