.sidebar-container{
    width: clamp(1.5rem, 0.786rem + 3.571vw, 4rem);
}

.sidebar_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: clamp(0.3rem, 0.186rem + 0.571vw, 0.7rem);
    height: 100vh;
    background-color: #212121;
    color: white;
    padding: 0;
    margin: 0;
}

.sidebar_main .top{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 40vh;
    margin-bottom: 4rem;
}

.sidebar_main .bottom{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 20vh;
}

.custom_link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 8vh;
    width: clamp(1.8rem, 0.764rem + 2.762vw, 3.25rem);
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: white;
    &:hover{
        background-color: #302f31;
        border-radius: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
        .sidebar_icons{
            width: clamp(0.9rem, 0.8rem + 0.5vw, 1.25rem);
            height: clamp(0.9rem, 0.8rem + 0.5vw, 1.25rem);
        }
    }
}

.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #302f31;
    cursor: pointer;
    height: 8vh;
    width: clamp(1.8rem, 0.764rem + 2.762vw, 3.25rem);
    margin: 0;
    padding: 0;
    border-radius: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
}

.sidebar_icons{
    width: clamp(0.8rem, 0.6rem + 1vw, 1.5rem);
    height: clamp(0.8rem, 0.6rem + 1vw, 1.5rem);
}

#profile-icon{
    width: clamp(1.25rem, 0.893rem + 1.786vw, 2.5rem);
    height: clamp(1.25rem, 0.893rem + 1.786vw, 2.5rem);
    border-radius: 2rem;
}

.logout-icon{
    cursor: pointer;
    width: clamp(0.8rem, 0.6rem + 1vw, 1.5rem);
    height: clamp(0.8rem, 0.6rem + 1vw, 1.5rem);
    &:hover{
        width: clamp(0.9rem, 0.8rem + 0.5vw, 1.25rem);
        height: clamp(0.9rem, 0.8rem + 0.5vw, 1.25rem);
    }
}